.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 40px;
}

.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}
body{
    background-color: #222222;
}