.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-7 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
body{
    background-color: #222222;
}